﻿@* Copyright (c) Maarten van Stam. All rights reserved. Licensed under the MIT License. *@
@inherits LayoutComponentBase

<FluentLayout>
    <FluentHeader>
        Blazor PowerPoint Add-in
    </FluentHeader>
    <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
        <NavMenu />
        <FluentBodyContent Class="body-content">
            <div class="content">
                @Body
            </div>
        </FluentBodyContent>
    </FluentStack>
    <FluentFooter>
        <FluentStack Orientation="Orientation.Vertical"
                     HorizontalAlignment="HorizontalAlignment.Center"
                     VerticalAlignment="VerticalAlignment.Center">
            <div>
                @TrademarkMessage1
            </div>
            <div>
                @TrademarkMessage2
            </div>
            <div>
                Powered by: @FrameworkDescription
            </div>
        </FluentStack>
    </FluentFooter>
</FluentLayout>

<div id="blazor-error-ui">
    <FluentCard>
        <FluentLabel>An unhandled error has occurred.</FluentLabel>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </FluentCard>
</div>

<FluentTooltipProvider />
<FluentDialogProvider />